# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Personal Steam Swapper data
steam_contas.txt

# IDE / Editor
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.log